<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Counties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Counties</ion-title>
    </ion-toolbar>
   <h4>Here are counties of Ireland</h4>
  </ion-header>

  <ion-button (click)="onButtonClick1()">Ulster</ion-button>
  <br>
  <ion-button (click)="onButtonClick2()">Munster</ion-button>
  <br>
  <ion-button (click)="onButtonClick3()">Connacht</ion-button>
  <br>
  <ion-button (click)="onButtonClick4()">Leinster</ion-button>
  
</ion-content>
