<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Project 2023
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Project 2023</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Welcome to my Project. To navigate to a specific page please click on one of the buttons below!</p>
    <br>
    <ion-button [routerLink]="['/weather']">Weather</ion-button>
    <ion-button [routerLink]="['/news']">News</ion-button>
    <br>
    <ion-button [routerLink]="['/counties']">Counties</ion-button>
    <ion-button [routerLink]="['/movies']">Movies List</ion-button>
  </div>
</ion-content>
